BRANDS_URL=https://www.example.com/api/auto.json
MODELS_URL=https://www.example.com/api/auto/models/
GENERATION_URL_1=https://www.example.com/api/auto/generations/
GENERATION_URL_2=.json?goodsTypeContext=tyre
MODIFICATION_URL_1=https://www.example.com/api/auto/modifications/
MODIFICATION_URL_2=.json
TYRE_URL_1=https://www.example.com/api/tyre/sizes/
TYRE_URL_2=/?context=modification
WHEEL_URL=https://web-api.example.com/api/gateway/goods/disk/kits?modification=
BATTERY_URL=https://www.example.com/api/auto/battery.json?modification=
BATTERY_CURRENT_URL=https://www.example.com/api/search/battery/facets-available.json?modification[]=